.container {
    padding: 2rem;
    background-color: var(--primary-background-color);
    font-family: var(--font-family);
    color: var(--light-text-color);
    text-align: center;
  }
  
  .text {
    margin-bottom: 2rem;
  }
  
  .h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-background-color);
    margin-bottom: 1rem;
  }
  
  .p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto 0.5rem auto;
    color: var(--light-text-color);
  }
  
  .created {
    font-size: 0.875rem;
    color: var(--light-text-color);
    font-style: italic;
  }
  
  .carousel {
    margin: 0 auto;
    max-width: 90%;
    padding: 1rem 0;
  }
  
  .imageWrapper {
    padding: 0.5rem;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
  }
  
  .image:hover {
    transform: scale(1.05);
  }
  
/* Custom arrow buttons style (no background, smaller size) */
.customArrow {
    background-color: transparent; /* Remove background */
    color: var(--button-dark-text-color); /* Set the arrow color */
    border: none;
    font-size: 24px; /* Adjusted for better visibility */
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 10px; /* Increase padding for better clickable area */
    z-index: 100; /* Ensure arrows are on top */
    display: flex; /* Ensure proper alignment */
    align-items: center; /* Center the arrow vertically */
    justify-content: center; /* Center the arrow horizontally */
  }
  
  /* Remove border on focus (clicked) */
  .customArrow:focus {
    outline: none; /* Remove the outline */
    border: none;  /* Remove any border that might appear */
  }
  
  /* Hover effect for arrows */
  .customArrow:hover {
    color: var(--link-hover-color); /* Change color on hover */
    /* transform: scale(1.1); Slightly enlarge the arrow on hover without moving it */
    background-color: transparent; /* Ensure no background color on hover */
  }
  
  /* Arrow positions */
  .slick-prev, .slick-next {
    z-index: 1000; /* Ensure arrows are on top */
  }
  
  .prevArrow {
    position: absolute;
    left: -40px; /* Adjusted for better spacing */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nextArrow {
    position: absolute;
    right: -40px; /* Adjusted for better spacing */
    top: 50%;
    transform: translateY(-50%);
  }
  